.menuBar{
	-fx-background-color: black;
}

.menu{
	-fx-border-color:white;
	-fx-border-width :0 2 0 0;
	-fx-background-color:black;
}
.menuTop{ 
	-fx-border-width:5 0 0 5;
	-fx-background-color:black;
	-fx-margin:5 0 0 5;
}
.menuItem{
	-fx-border-width:0.5 0 0.5 0;
	-fx-border-color:#D0D0D0;
}
.menuItem:hover{
	-fx-background-color:	#404040;	
}
