.inside-background{
	
	-fx-background-color: black;
	
}

.invisible-button {
	-fx-background-color:transparent;
	-fx-border-width:0.0;
}
.invisible-button:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}
.invisible-button:focused{
	-fx-background-color:transparent;
}

.invisible-toggle-button {
	-fx-background-color:transparent;
	-fx-border-width : 0.0;
	-fx-border-color : transparent;
}
.invisible-toggle-button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
.invisible-toggle-button:selected {
	-fx-background-color:transparent;
	-fx-border-color:transparent;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;

}

.invisible-toggle-button:focused{
	-fx-background-color:transparent;
	-fx-border-color:transparent;
}
.invisible-scrollpane, .invisible-scrollpane > .viewport, .invisible-scrollpane:focused{
	-fx-background-color:transparent;
	-fx-background:transparent;
}

.list-view .list-cell:filled:selected {
	-fx-background-color: #FF6A00;
} 
/**
 * Styles for the reasident creation view
 */
 #date > .text-field{
 	-fx-font-size:16.0px;
 	-fx-font-weight:bold;
 }
 
  #date > .arrow-button{
    -fx-padding: 3.0 30.0 3.0 30.0;
 }
 
   #date > .arrow-button > .arrow{
 	-fx-min-width:35.0px;
 	-fx-min-height:35.0px;
 }
 
    #date > .label{
 	-fx-text-fill:black;
 	-fx-text-weight:bold;
 }
/**
 * Styles for the mp3Player
 */
.pauseButton {
	-fx-background-image : url("/resources/images/pause.png");
	-fx-background-size:stretch;
	
	-fx-border-radius:5.0em;
	-fx-content-display:graphic-only;

	
}
.playButton {
	-fx-background-image : url("/resources/images/play.png");
	
	
	-fx-content-display:graphic-only;
	-fx-background-size:stretch;
	
	
}
#next{
	-fx-background-image : url("/resources/images/forward.png");
	-fx-background-size:stretch;
	
	-fx-content-display:graphic-only;
	-fx-background-repeat:stretch;
}
#previous{
-fx-background-image : url("/resources/images/backward.png");
	-fx-background-size:stretch;
	
	-fx-content-display:graphic-only;
	-fx-background-repeat:stretch;
}

.pauseButton:hover {
	-fx-background-image : url("/resources/images/pause.png");
	-fx-background-size:stretch;
	-fx-content-display:graphic-only;
	-fx-background-repeat:stretch;

	
}
.playButton:hover {
	-fx-background-image : url("/resources/images/play.png");
	-fx-border-radius:1000.0;
	-fx-content-display:graphic-only;
	-fx-background-size:stretch;

	
	
}
#next:hover{
	-fx-background-image : url("/resources/images/forward.png");
	-fx-background-size:stretch;
	-fx-content-display:graphic-only;
	-fx-background-repeat:stretch;

}
#previous:hover{
-fx-background-image : url("/resources/images/backward.png");
	-fx-background-size:stretch;
	-fx-content-display:graphic-only;
	-fx-background-repeat:stretch;

}
.list-cell-background{
	-fx-border-width:0.0 0.0 2.0 0.0;
	-fx-border-color:black;
}

.list-cell-songNameLabel{
	-fx-font-family:Verdana;
	-fx-font-weight:bold;
	-fx-font-size:14.0;
}

.bigTextTab .tab .tab-label{
	-fx-font-size: 13.0px;
    	-fx-font-weight: bold;
}

.bigTextTab .tab:selected .tab-label{
	-fx-text-fill:#FF6A00;
}
#random{
	-fx-background-image : url("/resources/images/random.png");
	-fx-background-size:stretch;
	-fx-content-display:graphic-only;
	-fx-background-repeat:stretch;
}
#normal{
	-fx-background-image : url("/resources/images/normal.png");
	-fx-background-size:stretch;	
	-fx-content-display:graphic-only;
	-fx-background-repeat:stretch;
}
#repeat{
	-fx-background-image : url("/resources/images/repeat.png");
	-fx-background-size:stretch;
	-fx-content-display:graphic-only;
	-fx-background-repeat:stretch;
}

#random:selected{
	-fx-background-image : url("/resources/images/random-selected.png");
	-fx-background-size:stretch;
	-fx-content-display:graphic-only;
	-fx-background-repeat:stretch;
	-fx-scale-x:1.3;
	-fx-scale-y:1.3;
}
#normal:selected{
	-fx-background-image : url("/resources/images/normal-selected.png");
	-fx-background-size:stretch;
	-fx-content-display:graphic-only;
	-fx-background-repeat:stretch;
	-fx-scale-x:1.3;
	-fx-scale-y:1.3;
}
#repeat:selected{
	-fx-background-image : url("/resources/images/repeat-selected.png");
	-fx-background-size:stretch;
	-fx-content-display:graphic-only;
	-fx-background-repeat:stretch;
	-fx-scale-x:1.3;
	-fx-scale-y:1.3;
}

#anchor{
	-fx-background-image : url("/resources/images/anchor.png");
	-fx-background-size:stretch;
	-fx-content-display:graphic-only;
	-fx-background-repeat:stretch;
}

#anchor:selected{
	-fx-background-image : url("/resources/images/anchor-selected.png");
	-fx-background-size:stretch;
	-fx-content-display:graphic-only;
	-fx-background-repeat:stretch;
	-fx-scale-x:1.3;
	-fx-scale-y:1.3;
}

#musicImage:hover{
	-fx-scale-x:1.1;
	-fx-scale-y:1.1;
}
.soundIcon-on{
	-fx-image:url("/resources/images/sound-on.png");
}
soundIcon-off{
	-fx-image:url("/resources/images/sound-mute.png");
}

.soundIcon-on:hover{
	-fx-image:url("/resources/images/sound-on.png");
	-fx-scale-x:1.1;
	-fx-scale-y:1.1;
}
soundIcon-off:hover{
	-fx-image:url("/resources/images/sound-mute.png");
	-fx-scale-x:1.1;
	-fx-scale-y:1.1;
}
.music-list-cell:selected{
	-fx-background-color:rgb(160.0, 0.0, 0.0);
}
.music-list-view .scroll-bar:vertical .track{
	
}
.music-list-view-letter{
	-fx-text-fill:rgb(160.0, 0.0, 0.0);
	-fx-font-weight:bold;
	-fx-font-size:14.0;
}
.searchButton{
	
	-fx-background-size:stretch;
	-fx-background-repeat:no-repeat;
}
.searchButton:hover{
	-fx-background-size:stretch;
	-fx-background-repeat:no-repeat;
	-fx-opacity:0.6;
}

/**
 * Styles for the calculator 
 */
.numberPad{
	
	-fx-background-color:derive(#6E6E6E, -23.0%),  linear-gradient(to bottom, derive(#6E6E6E, 75.0%), #6E6E6E);
	-fx-background-insets: 0.0, 1.0, 2.0;
	-fx-background-radius: 5.0, 4.0, 3.0;
	-fx-padding: 0.333333em 0.666667em 0.416667em 0.666667em; /* 4 8 5 8 */
	-fx-text-fill: -fx-text-base-color;
	-fx-border-width:0.0;
	-fx-font-weight:bold;
}
.numberPad:armed
	{
	-fx-background-color:derive(#6E6E6E, -23.0%),  linear-gradient(to bottom, derive(#6E6E6E, 75.0%), #6E6E6E);
	-fx-background-insets: 0.0, 1.0, 2.0;
	-fx-background-radius: 5.0, 4.0, 3.0;
	-fx-padding: 0.333333em 0.666667em 0.416667em 0.666667em; /* 4 8 5 8 */
	-fx-text-fill: -fx-text-base-color;
}
.numberPad:hover{
	-fx-background-color:derive(#424242, -23.0%),  linear-gradient(to bottom, derive(#424242, 75.0%), #424242);
	-fx-background-insets: 0.0, 1.0, 2.0;
	-fx-background-radius: 5.0, 4.0, 3.0;
	-fx-padding: 0.333333em 0.666667em 0.416667em 0.666667em; /* 4 8 5 8 */
	-fx-text-fill: -fx-text-base-color;
	
}

.numberPad:focused
	{
	-fx-background-color:derive(#424242, -16.0%),  linear-gradient(to bottom, derive(#424242, 75.0%), #424242);
	-fx-background-insets: -2.0, -0.3, 1.0, 2.0;
	-fx-background-radius: 7.0, 6.0, 4.0, 3.0;
}

.erease{
	-fx-background-color:derive(#9f0000, -23.0%),  linear-gradient(to bottom, derive(#9f0000, 75.0%),#9f0000);
	-fx-background-insets: 0.0, 1.0, 2.0;
	-fx-border-radius:5.0em;
	-fx-background-radius: 5.0, 4.0, 3.0;
	-fx-padding: 0.333333em 0.666667em 0.416667em 0.666667em; /* 4 8 5 8 */
	-fx-text-fill: -fx-text-base-color;
	-fx-background-radius:1.0em; 
	-fx-border-width:0.0;
	-fx-font-weight:bold;
}
.erease:armed{
	-fx-background-color:derive(#9f0000, -23.0%),  linear-gradient(to bottom, derive(#9f0000, 75.0%),#9f0000);
	-fx-background-insets: 0.0, 1.0, 2.0;
	-fx-border-radius:5.0em;
	-fx-background-radius: 5.0, 4.0, 3.0;
	-fx-padding: 0.333333em 0.666667em 0.416667em 0.666667em; /* 4 8 5 8 */
	-fx-text-fill: -fx-text-base-color;
	-fx-background-radius:1.0em; 
}
.erease:hover{
	-fx-background-color:derive(#660000, -16.0%),  linear-gradient(to bottom, derive(#660000, 75.0%),#660000);	
}

.erease:focused{
	-fx-background-color:derive(#9f0000, -16.0%),  linear-gradient(to bottom, derive(#9f0000, 75.0%), #9f0000);
	-fx-background-insets: -2.0, -0.3, 1.0, 2.0;
	-fx-background-radius: 7.0, 6.0, 4.0, 3.0;
}
.clear{
	-fx-background-color:derive(#ec8013, -23.0%),  linear-gradient(to bottom, derive(#ec8013, 75.0%),#ec8013);
	-fx-background-insets: 0.0, 1.0, 2.0;
	-fx-border-radius:5.0em;
	-fx-background-radius: 5.0, 4.0, 3.0;
	-fx-padding: 0.333333em 0.666667em 0.416667em 0.666667em; /* 4 8 5 8 */
	-fx-text-fill: -fx-text-base-color;
	-fx-background-radius:1.0em; 
	-fx-border-width:0.0;
	-fx-font-weight:bold;
}
.clear:armed{
	-fx-background-color:derive(#ec8013, -23.0%),  linear-gradient(to bottom, derive(#ec8013, 75.0%),#ec8013);
	-fx-background-insets: 0.0, 1.0, 2.0;
	-fx-border-radius:5.0em;
	-fx-background-radius: 5.0, 4.0, 3.0;
	-fx-padding: 0.333333em 0.666667em 0.416667em 0.666667em; /* 4 8 5 8 */
	-fx-text-fill: -fx-text-base-color;
	-fx-background-radius:1.0em; 
}
.clear:hover{
	-fx-background-color:derive(#c68039, -16.0%),  linear-gradient(to bottom, derive(#c68039, 75.0%),#c68039);	
}

.clear:focused{
	-fx-background-color:derive(#ec8013, -16.0%),  linear-gradient(to bottom, derive(#ec8013, 75.0%), #ec8013);
	-fx-background-insets: -2.0, -0.3, 1.0, 2.0;
	-fx-background-radius: 7.0, 6.0, 4.0, 3.0;
}
.research-toggle:selected{
	-fx-border-radius:3.0;
	-fx-border-color:rgb(160.0, 0.0, 0.0);
	-fx-text-fill:rgb(160.0, 0.0, 0.0);
}

#snooze{
	-fx-font-size:40.0;
	-fx-text-fill:black;
	-fx-background-color:	#dfaf20;
	-fx-background-radius:60.0px;
	-fx-border-color:transparent;
}
#snooze:hover{
	-fx-background-color:#f9bc06;
}
#snooze:pressed{
	-fx-background-color:#997300;
}

#stop{
	-fx-font-size:40.0;
	-fx-text-fill:black;
	-fx-background-color: #df2020;
	-fx-background-radius:60.0px;
	-fx-border-color:transparent;
}
#stop:hover{
	-fx-background-color:#f90606;
}
#stop:pressed{
	-fx-background-color:#990000;
}