


.root {
	
	-fx-background-color: black;
	
}


.progress-indicator .percentage{
	-fx-fill:grey;
}

.label{
	-fx-text-fill:white;
}

.button{
	-fx-background-color:black;
	-fx-border-width:1.0px;
	-fx-border-color:white;
	-fx-text-fill:white;
	-fx-font-weight:bold;
	-fx-font-size:16.0px;
}

.button:hover{
	-fx-background-color:#383838;
}

.button:hover:focused {
    -fx-background-color:#383838;
}

.slider .track {
    -fx-pref-height:12.0;
}

.slider:vertical .track {
    -fx-pref-width:12.0;
}

.slider .thumb {
    -fx-pref-height: 22.0;
    -fx-pref-width: 22.0;
}

.tab-pane *.tab-header-background {
    -fx-background-color: black;
}

.tab-pane .tab{
	-fx-background-color:black;
	-fx-border-width:1.0 1.0 0.0 1.0;
	-fx-border-color:white;
}

.tab-pane .tab:selected{
	-fx-background-color:#383838;
}

.tab-pane .tab .tab-label{
	-fx-text-fill:white;
}

.toggle-button {
    -fx-background-color:black;
    -fx-text-fill:white;
    -fx-font-weight:bold;
    -fx-border-width:1.0px;
    -fx-border-color:white;
}

.toggle-button:hover {
    -fx-background-color:#383838;
}
.toggle-button:selected {
    -fx-background-color:#383838;
}
.toggle-button:selected:hover {
    -fx-background-color:#383838;
}
.list-view .list-cell{
	-fx-text-fill:white;
}
.list-view .list-cell:even {
	-fx-background-color: black;
}
.list-view .list-cell:odd {
	-fx-background-color: #202020;
}
.list-view .list-cell:filled:hover {
	-fx-background-color: #404040;
}
.list-view .list-cell:filled:selected {
	-fx-background-color: #686868;
	-fx-text-weight:bold;
}
.check-box{
     -fx-text-fill: white; 
}
.radio-button {
     -fx-text-fill: white; 
}
.date-picker-popup{
	-fx-padding:1.0 1.0 1.0 1.0;
}
.date-picker-popup > .month-year-pane {
    -fx-min-width:350.0px;

}
.date-picker-popup .label{
	-fx-text-fill:black;
	-fx-font-size:16.0px;
	-fx-font-weight:bold;
}

.color-picker .color-picker-label{
	-fx-text-fill:black;
	-fx-font-weight:bold;
}



